cloud_id                 = "g7g7fqvuq7ptd5chdn"
folder_id                = "0nklto766et5huqre"
zone                     = "ru-ceral1-a"
public_key_path          = "~/.ssh/appuser.pub"
service_account_key_file = "/home/.ssh/key.json"
image_id                 = "fd8uclq09irr2fisid"
subnet_id                = "e9bg41lpd9f3jra5tc"
private_key_path         = "~/.ssh/appuser"
yandex_compute_instance  = "reddit-app"
reddit_listener_port     = "9292"
instances_count          = "2"
